<html>
<head>
<title>Home page</title>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Anek+Malayalam:wght@300&display=swap" rel="stylesheet">

<style>

body {
max-width: max-content;
margin: auto;
font-family: 'Anek Malayalam', sans-serif;

}
/* div{

    border-style:double;
} */



</style>
<script>

let name = document.forms["myForm"]["sname"].value;
  let pwd1 = document.forms["myForm"]["pwd"].value;
  let counter =0;
  let pattern = /[0-9]/;
  let text=pwd1.slice(-1);
  let ucase=/[A-Z]/;
  let scase=/[a-z]/;
  let ucase1=pwd1.match(ucase);
  let scase1=pwd1.match(scase);

  alert(ucase1);
</script>
</head>
<body>

<h1> Student System</h1>
<div>
<section>

<form action= "{{ url_for('ins') }}" method="post">
    <h1> Enter Student name and Grade</h1>
    <table> 
        <tr> 
            <td>  Name: </td> 
            <td> <input type="text" placeholder="Enter Student Name" name="sname"></td>
        </tr>

        <tr> 
            <td>  Grade: </td> 
            <td> <input type="text" placeholder="Enter Final Grade" name="gr"></td>
        </tr>
    </table>
      
            <button >Submit</button> 
            <button >Update</button>   
    
</form>
</section>

<section>

    <form action="" method="post">
        <h1> Remove Student</h1>
        <table> 
            <tr> 
                <td>  ID: </td> 
                <td> <input type="text" placeholder="Enter Student ID"></td>
            </tr>
        </table>  <br> 
        <button >Delete</button>
    </form>
    </section>
    <br>
<section>

    <table> 
        <tr> 
            <td> <input type="button" value="List All Students"></td><br><td></td>
     
            <td> <input type="button" value="List Students who pass"></td>
        </tr>
    </table>  


</section>

</div>
</body>

</html>